#presentation {
    width: 480px;
    height: 120px;
    padding: 20px;
    background: #FFF;
    margin: 10px auto auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
    border-radius: 3px;
}

#presentation:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s;
    transform: translateZ(10px);
}

#floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #db4437;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0 2px 5px #666;
}

.plus {
    color: white;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 55px;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    animation: plus-out 0.3s;
    transition: all 0.3s;
}

#container-floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50;
}

#container-floating:hover {
    height: 400px;
    width: 90px;
    padding: 30px;
}

#container-floating:hover .plus {
    animation: plus-in 0.15s linear;
    animation-fill-mode: forwards;
}

.edit {
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    opacity: 0;
    margin: auto;
    line-height: 65px;
    transform: rotateZ(-70deg);
    transition: all 0.3s;
    animation: edit-out 0.3s;
}

#container-floating:hover .edit {
    animation: edit-in 0.2s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes edit-in {
    from {
        opacity: 0;
        transform: rotateZ(-70deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

@keyframes edit-out {
    from {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    to {
        opacity: 0;
        transform: rotateZ(-70deg);
    }
}

@keyframes plus-in {
    from {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    to {
        opacity: 0;
        transform: rotateZ(180deg);
    }
}

@keyframes plus-out {
    from {
        opacity: 0;
        transform: rotateZ(180deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(0deg);
    }
}

.nds {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: scale(0);
    cursor: pointer;
}

.nd1 {
    background: #d3a411;
    right: 40px;
    bottom: 120px;
    animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
    animation-fill-mode: forwards;
}

.nd3 {
    background: #3c80f6;
    right: 40px;
    bottom: 180px;
    animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
    animation-fill-mode: forwards;
}

.nd4 {
    background: #ba68c8;
    right: 40px;
    bottom: 240px;
    animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode: forwards;
}

.nd5 {
    background-image: url('https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27');
    background-size: 100%;
    right: 40px;
    bottom: 300px;
    animation-delay: 0.08s;
    animation: bounce-out-nds 0.1s linear;
    animation-fill-mode: forwards;
}

@keyframes bounce-nds {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce-out-nds {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

#container-floating:hover .nds {

    animation: bounce-nds 0.1s linear;
    animation-fill-mode: forwards;
}

#container-floating:hover .nd3 {
    animation-delay: 0.08s;
}

#container-floating:hover .nd4 {
    animation-delay: 0.15s;
}

#container-floating:hover .nd5 {
    animation-delay: 0.2s;
}

.letter {
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 40px;
}

.reminder {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.profile {
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.similar-jobs__content {
    padding: 0px 10px;
}

.similar-job {
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 10px;
}

.l-similar-job:before, .l-similar-job:after {
    content: " ";
    display: table;
}

.l-similar-job:after {
    clear: both;
}

.l-similar-job__left {
    float: left;
}

.l-similar-job__right {
    padding-left: 60px;
}

.similar-job__title {
    color: #589acb;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.similar-job__location, .similar-job__date {
    color: #0f0f0f;
    display: block;
    font-size: 14px;
    line-height: 19px;
}

.similar-job__company-img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.similar-jobs__btn-wrapper {
    margin: 20px 0 20px;
    text-align: center;
}

.-btn--grey-border {
    border-color: #dcdcdc;
}

.-btn, .file-control__btn {
    display: inline-block;
    min-width: 135px;
    padding: 12px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
}

.related-job {
    border: 1px solid #dcdcdc;
    width: 100%;
}

#stat {
    background-color: rgba(23, 27, 30, 0.96);
    position: relative;
    padding: 100px 0;
    overflow: hidden;
}

.section-heading {
    text-align: center;
    margin-bottom: 80px;
}

#stat .section-heading h2 {
    color: #fff;
}

.section-heading h2 {
    margin-top: 0;
}

.theme-color {
    color: #51D1C4;
}

#stat ul {
    list-style: none;
    padding: 0;
    float: none;
}

#stat ul li {
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#stat ul li ul li {
    text-align: center;
    border-right: none;
}

#stat ul li span {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    color: #FFF;
}

#stat ul li p {
    font-size: 20px;
    color: #51d1c4;
    margin-bottom: 10px;
}

#stat ul li h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#stat ul li:last-child {
    border-right: 0;
}

.m-t-25 {
    margin-top: 25px;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    border:none;
}